@tailwind base;
@tailwind components;
@tailwind utilities;

/*           fonts          */
@font-face {
   font-family: global;
   src: url("/SST Arabic Roman.ttf");
}
main {
   background-color: #f6f9fc;
   font-family: global;
}
.popup-transition {
  transition: transform 0.3s ease-in-out;
}
